.social {
  position: absolute;
  position: fixed;
  bottom: 25px;
  right: 25px;
  opacity: 70%;
  &__link:nth-child(1) {
    margin-bottom: 20px;
  }
  &__logo {
  width: 45px;
  fill: $white;
  }
}